:root {
    --cor-primaria: #3f3d56;
    --cor-destaque-titulo: #ee24ff;
    --cor-primaria-paragrafo: #828282;
    --cor-border: #eceff2;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #hero {
    width: 626px;
    margin: 64px auto 64px;
  }
  
  #hero img {
    margin: 0 0 32px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: var(--cor-primaria-titulo);
    line-height: auto;
    width: 494px;
    margin: 0 auto 16px;
  }
  
  h1 span {
    color: var(--cor-destaque-titulo);
    font-weight: bold;
  }
  
  p {
    font-size: 15px;
    color: var(--cor-primaria-paragrafo);
    width: 540px;
    margin: 0 32px;
  }
  
  p span,
  a {
    color: var(--cor-primaria);
    font-weight: bold;
  }
  
  p br + span {
    color: var(--cor-primaria-paragrafo);
    font-weight: bold;
  }
  
  #primeiro {
    line-height: 22px;
    margin-bottom: 32px;
  }
  
  #segundo {
    line-height: auto;
  }
  
  #footer {
    position: relative;
  }
  
  .line {
    margin: 0 auto 16px;
    border: 1px var(--cor-border) solid;
    width: 391px;
  }
  
  #footer a {
    font-size: 15px;
    text-decoration: none;
  }
  
  #footer a + a {
    margin-left: 42px;
  }
  
  #footer img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 40.83px;
  }